<table class="table" style="border: 2px solid black;">
  <thead class="thead-dark">
    <tr>
      {{#each rcds}}
      {{#each this.keys}}
      <th scope="col">{{this}}</th>
      {{/each}}
      {{/each}}
      <th scope="col" style="width: 20%;"></th>
      <th scope="col" style="width: 20%;"></th>
    </tr>
  </thead>
  <tbody>
    {{#each rcds}}
    <tr>
      <th scope="row">{{this.ID}}</th>
      <td>{{this.Name}}</td>
      <td><a href="/about/{{this.ID}}"><button class="btn btn-dark">UPDATE</button></a></td>
      <td>
        <form action="/del/{{this.ID}}" method="post">
            <button class="btn btn-danger">DELETE</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
</script>